<!-- session tokenの確認 共通化必要 -->
<% if logged_in? %>

<% elsif %>
  <script type="text/javascript">
    window.location.href="/users/index"
  </script>
<% end %>

<% provide(:title, 'Many a little makes') %>

<div class="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-1">
        <h3><% d = Date.today %>
        <%= d.strftime("%Y/%m/%d") %>
        </h3>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <div class="item-content" id="item-content" style="height:470px; overflow:scroll;">
          <table class="table table-condensed" style="background-color: rgb(249, 249, 246);">
            <tbody id="table-item">
              <% if !@items.nil? then %>
                <% @items.each do |item| %>
                  <tr id="<%= item.id %>">
                    <td class="item" id="<%= item.id %>" style="">
                        <div class="row-fluid" style="padding-top: 5px; padding-bottom: 5px;">
                          <div class="item-inner" id="<%= item.id %>">
                            <h6 class="colmd-1" style="color: gray;"><%= item.created_at.strftime("%H:%M:%S") %></h6>
                            <% if item.content_id == 1 %>
                              <img src="<%= item.file_path %>" width="200" height="200">
                              <div class="col-md-3 item-action" style="display: none;">
                                <button type="button" class="btn btn-warning delete-button" id="<%= item.id %>">Delete</button>
                              </div>
                            <% else %>
                              <div class="col-md-9 item-text" id="<%= item.id %>"><%= markdown(text_url_to_link(linebreak_to_br(item.text)).html_safe) %></div>
                              <div hidden class="item-text-value" id="<%= item.id %>"><%= item.text %></div>
                              <div class="col-md-3 item-action" style="display: none;">
                                <button type="button" class="btn btn-success edit-button" id="<%= item.id %>">Edit</button>
                                <button type="button" class="btn btn-warning delete-button" id="<%= item.id %>">Delete</button>
                              </div>
                            <% end %>
                          </div>

                          <div class="container edit-form" id="<%= item.id %>" style="display: none;">
                            <%= form_for(@item, :url => {:controller => 'items', :action => 'edit'}, :html => {:onsubmit => "return false;"}, remote: true) do |f| %>
                              <div class="row">
                                <div class="col-md-9 item-edit-text" id="<%= item.id %>"><%= f.text_area :text, class: ['form-control', 'item-edit'], id: item.id %></div>
                              </div>
                              <div class="row">
                                <div class="col-md-1"><input type="button" value="キャンセル" class="btn btn-default edit-cancel" id="<%= item.id %>"></div>
                                <div class="col-md-1"><input type="button" value="保存" class="btn btn-success btn-primary edit-submit" id="<%= item.id %>"></div>
                              </div>
                            <% end %>
                          </div>

                        </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= form_for(@item, :url => {:controller => 'items', :action => 'index'}, remote: true, authenticity_token: true) do |f| %>
          <div class="col-md-8"><%= f.text_area :text, :placeholder=> 'なにか書く', class: ['form-control', 'item-textarea'] %></div>
          <div class="col-md-1"><%= f.submit "投稿", class: 'btn btn-lg btn-default btn-primary item-submit' %></div>
          <!--<div class="col-md-1"><%= link_to "アップロード", {}, { :id => "", :class => "btn btn-lg btn-primary file-upload-link"} %></div>-->
          <!--<div class="col-md-2"><%= f.file_field :data_file, class: ['item-file', ''], style: "display: none" %></div><br />-->
        <% end %>
      </div>
    </div>
  </div>
</div>
