<% provide(:title, 'Many a little makes') %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">malm</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">分報</a></li>
        <li><a href="#">日報</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">設定</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <h3><% d = Date.today %>
        <%= d.strftime("%Y/%m/%d") %>
        </h3>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <div class="item-content" id="item-content" style="height:500px; overflow:scroll;">
          <table class="table table-condensed" style="/* background-color: rgb(251, 251, 249);*/">
            <tbody id="table-item">
              <% if !@items.nil? then %>
                <% @items.each do |item| %>
                  <tr id="<%= item.id %>">
                    <td class="item" id="<%= item.id %>" style="">
                        <div class="row">
                          <div class="item-inner" id="<%= item.id %>">
                            <div class="col-md-9 item-text" id="<%= item.id %>"><%= text_url_to_link(item.text).html_safe %></div>
                            <div class="col-md-3 item-action" style="display: none;">
                              <button type="button" class="btn btn-success edit-button" id="<%= item.id %>">Edit</button>
                              <button type="button" class="btn btn-warning delete-button" id="<%= item.id %>">Delete</button>
                            </div>
                          </div>

                          <div class="container edit-form" id="<%= item.id %>" style="display: none;">
                            <%= form_for(@item, :url => {:controller => 'items', :action => 'edit'}, :html => {:onsubmit => "return false;"}, remote: true) do |f| %>
                              <div class="row">
                                <div class="col-md-9 item-edit-text" id="<%= item.id %>"><%= f.text_area :text, class: ['form-control', 'item-edit'], id: item.id %></div>
                              </div>
                              <div class="row">
                                <div class="col-md-1"><input type="button" value="キャンセル" class="btn btn-default btn-primary edit-cancel" id="<%= item.id %>"></div>
                                <div class="col-md-1"><input type="button" value="保存" class="btn btn-default btn-primary edit-submit" id="<%= item.id %>"></div>
                              </div>
                            <% end %>
                          </div>

                        </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= form_for(@item, :url => {:controller => 'items', :action => 'index'}, remote: true) do |f| %>
          <div class="col-md-9"><%= f.text_field :text, class: 'form-control', :placeholder => 'なにか書く' %></div>
          <div class="col-md-3"><%= f.submit "投稿", class: 'btn btn-default btn-primary' %></div><br />
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#item-content').scrollTop($('#item-content')[0].scrollHeight);
  $('.item').hover (
    function () {
      var id = $(this).attr("id");
      $('#'+id+' .item-action').show();
    },
    function () {
      var id = $(this).attr("id");
      $('#'+id+' .item-action').hide();
    }
  );

  // 編集ボタンのクリックイベント
  $('.edit-button').click(function() {
    var id = $(this).attr("id");

    // submitボタンを編集ボタンへ変更する
    $('#'+id+'.item-inner').hide();
    $('#'+id+'.edit-form').show();

    // 現在の文字列をテキストフィールドを入れる
    console.log($('#'+id+'.item-text').text());

    var text = $('#'+id+'.item-text').text();

    $('.item-edit').val(text);
  });

  $('.edit-cancel').click(function() {
    console.log("edit");
    var id = $(this).attr("id");

    $('#'+id+'.edit-form').hide();
    $('#'+id+'.item-inner').show();
  });

  $('.edit-submit').click(function() {
      console.log("submit");
      var id = $(this).attr("id");
      var text = $('#'+id+'.item-edit').val();
      console.log(text);

      $('#'+id+'.edit-form').hide();
      $('#'+id+'.item-inner').show();

      // ajax通信の開始
      $.ajax({
        type: "POST",
        url: "edit",
        data: { id: id, text: text },
        success: function(response) {
          console.log(response)
          $('#'+id+'.item-text').text(response.text)
        }
      });
  });

  // 削除ボタンのクリックイベント
  $('.delete-button').click(function() {
    var id = $(this).attr("id");

    // ajax通信
    $.ajax({
      type: "POST",
      url: "delete",
      data: { id: id },
      success: function(response){
        console.log(response)
        $('tr'+'#'+id).remove();
      }
    });
  });
</script>
